/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Aura implementation : © Marta Martín de Argenta Hernández <martamartinargenta@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * aura.css
 *
 * Aura stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (aura_aura.tpl), and to HTML elements you create dynamically
    (in aura.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */

/** Table layout **/

#playertables {
    position: relative;
    width: 710px;
    height: 600px;
}

.playertablename {
    font-weight: bold;
}

.playertable {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 130px;
}

.playertable_N {
    left: 0%;
    top: 0px;
}
.playertable_S {
    left: 0%;
    top: 150px;
}
.playertable_W {
    left: 0%;
    top: 300px;
}
.playertable_E {
    left: 0%;
    top: 450px;
}
.playertablecard {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 72px;
    height: 96px;
}

.deck {
    display: inline-block;

    height: 75px;
    width: 55px;

    margin-bottom: 5px;
    margin-right: 5px;
}

.card {
    height: 75px;
    width: 55px;

    margin-bottom: 5px;
    margin-right: 5px;

    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.playertablecard{
    display: inline-block;
    position: relative;
    margin-top: 5px;
    width: 72px;
    height: 96px;
    background-image: url('img/card_fronts.jpg');
}



.card.back {
    background-image: url("img/card_backs.jpg");
    background-size: 222px, auto;
}

.card.back.color_0 {
    background-position-y: -0px;
}

.card.back.color_1 {
    background-position-y: -76px;
}

.card.back.color_2 {
    background-position-y: -151px;
}

.card.back.color_3 {
    background-position-y: -227px;
}

.card.back.color_4 {
    background-position-y: -302px;
}

.card.front {
    background-image: url("img/card_fronts.jpg");
    background-size: 555px, auto;
}

.card.front.color_0 {
    background-position-y: -0px;
}

.card.front.color_1 {
    background-position-y: -76px;
}

.card.front.color_2 {
    background-position-y: -151px;
}

.card.front.color_3 {
    background-position-y: -227px;
}

.card.front.color_4 {
    background-position-y: -302px;
}

.card.front.value_1 {
    background-position-x: -0px;
}

.card.front.value_2 {
    background-position-x: -56px;
}

.card.front.value_3 {
    background-position-x: -111px;
}

.card.front.value_4 {
    background-position-x: -167px;
}

.card.front.value_5 {
    background-position-x: -222px;
}

.card.front.value_6 {
    background-position-x: -278px;
}

.card.front.value_7 {
    background-position-x: -333px;
}

.card.front.value_8 {
    background-position-x: -389px;
}

.card.front.value_9 {
    background-position-x: -444px;
}

.card.front.value_10 {
    background-position-x: -500px;
}